# root dir html files
/*.html

# test stuff
/examples/*.html
/examples/reveal.js/
/examples/node_modules

# node stuff
node_modules/
npm-debug.log
build/
/dist/main.js
/asciidoctor-reveal.js-*.tgz

# ruby stuff
/.bundle/
/Gemfile.lock

# the compiled slim template, committed only on releases to avoid noise
/lib/asciidoctor-revealjs/converter.rb
