git:
  # use depth 2 just in case two refs get pushed at once (like a tag)
  depth: 2
language: ruby
node_js: lts/*
rvm:
- 2.6
- 2.5
- 2.4
- 2.3
- jruby-9.2.9.0
gemfile:
- Gemfile
- Gemfile.upstream
env:
  global:
  # use system libraries to speed up installation of nokogiri
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
script:
- bundle exec rake build
- bundle exec rake doctest
- bundle exec rake examples:convert
- npm install
- bundle exec rake build:js
- npm run examples
- npm test
notifications:
  email: false
