- menu = attr 'menu'
- menuitem = attr 'menuitem'
- if !(submenus = attr 'submenus').empty?
  = html_tag('span', { :class => ['menuseq'] }.merge(data_attrs(@attributes)))
    span.menu=menu
    |&#160;&#9656;&#32;
    =submenus.map {|submenu| %(<span class="submenu">#{submenu}</span>&#160;&#9656;&#32;) }.join
    span.menuitem=menuitem
- elsif !menuitem.nil?
  = html_tag('span', { :class => ['menuseq'] }.merge(data_attrs(@attributes)))
    span.menu=menu
    |&#160;&#9656;&#32;
    span.menuitem=menuitem
- else
  = html_tag('span', { :class => ['menu'] }.merge(data_attrs(@attributes)))
    = menu
