- nowrap = (option? 'nowrap') || !(document.attr? 'prewrap')
- syntax_hl = document.syntax_highlighter
- if @style == 'source'
  - lang = attr :language
  - if syntax_hl
    - doc_attrs = document.attributes
    - css_mode = (doc_attrs[%(#{syntax_hl.name}-css)] || :class).to_sym
    - style = doc_attrs[%(#{syntax_hl.name}-style)]
    - opts = syntax_hl.highlight? ? { css_mode: css_mode, style: style } : {}
    - opts[:nowrap] = nowrap
  - else
    - pre_open = %(<pre class="highlight#{nowrap ? ' nowrap' : ''}"><code#{lang ? %[ class="language-#{lang}" data-lang="#{lang}"] : ''}>)
    - pre_close = '</code></pre>'
- else
  - pre_open = %(<pre#{nowrap ? ' class="nowrap"' : ''}>)
  - pre_close = '</pre>'
- id_attribute = id ? %( id="#{id}") : ''
- title_element = title? ? %(<div class="title">#{captioned_title}</div>\n) : ''
=%(<div#{id_attribute} class="listingblock#{(role = self.role) ? " #{role}" : ''}">#{title_element}<div class="content">#{syntax_hl ? (syntax_hl.format self, lang, opts) : pre_open + (content || '') + pre_close}</div></div>)
